nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue
}

main {
    max-width: 840px
}

main img {
    width:  150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px;
}

img {
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px;
    border: 10px solid;  
}

p {
    padding: 0;
    color: hsl(240, 100%, 20%);
}

aside {
    width: 600px;
    margin: 10px 0;
    border: black 1px solid;
    padding: 10px;
    background-color: #ddd;
    color: blue;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}