nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue
}

main {
    margin: auto;
    padding: 10px;
    text-align: justify;
}

main img {
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: gray;
}

img {
    max-width: 250px;
    height: auto;
}

p {
    padding: 0;
    color: hsl(240, 100%, 20%);
}

aside {
    max-width: 600px;
    margin: 10px 0;
    border: black 1px solid;
    padding: 10px;
    background-color: #ddd;
    color: blue;
    float: right;
    text-align: justify;   
}

aside img {
    border: 5px solid blue;
    box-shadow: black;
    float: right;
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: auto;
    display: block;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}